body{
    background-image:url(image6.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




#b1{
    
    text-align: center;
    padding: 5%;
    

    
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-display: auto;
}
.cardcont{
    display: flex;
    gap: 50px;
}
#bg{
    background-image: url(b3g.jpg);
    background-repeat: no-repeat;
}
.card-body{
    background-color: lightblue;
    color: yellow;
}
