#b1{
    background-color: antiquewhite;
    text-align: center;
    
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-display: auto;
}
.cardcont{
    display: flex;
    gap: 160px;
}